.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.cabecalho img{
    box-sizing: border-box;
    display: block;
    width: 10rem;
}

.cabecalho nav{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    height: 100%;
    align-items: center;
}

.cabecalho a{
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #48b400;
    text-align: center;
    padding: 1rem;
}

.cabecalho a:hover{
    color: #1c4600;
    font-weight: 600;
    cursor: pointer;
}